
html,
body{
	background-image: url(/res/img/40198-art-painting-military-navy-weapons-vehicles-ships-boats-ocean-sea-sky-clouds-aircraft-airplane-battle-war-fighter.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: -10 !important;
}
#main{
	display: flex;
	width: 650px;
	height: 950px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	z-index: -1;
}
.box{
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 5em 5em;
	box-shadow: 0 1px 15px;
	cursor: pointer;
}
#shipsTab{
	position: relative;
	margin-top: 35px;
	border: 1px solid black;
	width: 400px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
	border-radius: 1em 1em ;
}
#smallShip{
	width: 80px;
	height: 80px;
	background-color: black;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	cursor: pointer;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 5em 5em;

}
#mediumShip{
	width: 160px;
	height: 80px;
	background-color: rgb(45, 85, 255);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	cursor: pointer;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 5em 5em;
}
#longShip{
	width: 240px;
	height: 80px;
	background-color: rgb(255, 165, 0);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	cursor: pointer;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 5em 5em;
}
#info{
	margin: 4px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 32px;
}
#start_button{
	display: none;
	font-size: 32px;
	margin-top: 6px;
	margin-bottom: 0px;
	cursor: pointer;
}
.smallShip{

}
.mediumShip{
	
}
.longShip{
	
}
.enemy{

}
.missed{

}
#enemyBoats{
	align-self: flex-end;
	font-family: 'Courier New', Courier, monospace;
	cursor: pointer;
	display: none;
	position: absolute
}
#rotateLinearButton{
	font-size: 32px;
	font-family: 'Courier New', Courier, monospace;
	cursor: pointer;
	display: none;
}
#rotateVerticalButton{
	font-size: 32px;
	font-family: 'Courier New', Courier, monospace;
	cursor: pointer;
	display: none;
}
